<section id="{{id}}" class="history card waves-effect">
  <div class="card-content white-text">

    <div class="row center">
      <div class="col s12 m4">
        <span>
          {{questionnaire_date}}
        </span>
      </div>

      <div class="col s12 m4">
        <span>
          {{#if completed}}
            Complete
          {{else}}
            Incomplete
          {{/if}}
        </span>
      </div>

      <div class="col s12 m4">
        <span>
          Total: {{score}}
        </span>
      </div>
    </div>

    <div class="card-action center share">
      Share
    </div>

  </div>
</section>
