{{#each questions}}
<h4>{{quid}}</h4>
<h4>{{question}}</h4>
{{/each}}


<form>
   <p>
     <input class="with-gap" name="group1" type="radio" id="never" />
     <label for="test1">Never</label>
   </p>
   <p>
     <input class="with-gap" name="group1" type="radio" id="sometimes" />
     <label for="test2">Sometimes</label>
   </p>
   <p>
     <input class="with-gap" name="group1" type="radio" id="often"  />
     <label for="test3">Often</label>
   </p>
     <p>
       <input class="with-gap" name="group1" type="radio" id="always" />
       <label for="test4">Always</label>
   </p>
 </form>
