{{> header}}
<main class="container">

  <section id="username">
    <p>
      Username: {{user.user_name}}
    </p>
    <form action="/api/user" method="post">
      <input type="text" name="user_name" value="" placeholder="New username" required>
      <input type="text" name="confirm_username" value="" placeholder="Confirm username" required>
      <input type="submit" name="submit" value="Submit">
    </form>
  </section>

  <section id="user-email">
    <p>
      E-mail: {{user.user_email}}
    </p>
    <form action="/api/user" method="post">
      <input type="text" name="user_email" value="" placeholder="New email" required>
      <input type="text" name="confirm_user_email" value="" placeholder="Confirm email" required>
      <input type="submit" name="submit" value="Submit">
    </form>
  </section>

  <section id="clinic-email">
    <p>
      Clinician E-mail: {{user.clinic_email}}
    </p>
    <form action="/api/user" method="post">
      <input type="text" name="clinic_email" value="" placeholder="New clinician email" required>
      <input type="text" name="confirm_clinic_email" value="" placeholder="Confirm clinician email" required>
      <input type="submit" name="submit" value="Submit">
    </form>
  </section>

  <section id="clinic-number">
    <p>
      Clinician Number: {{user.clinic_number}}
    </p>
    <form action="/api/user" method="post">
      <input type="text" name="clinic_number" value="" placeholder="New clinician number" required>
      <input type="text" name="confirm_clinic_number" value="" placeholder="Confirm clinician number" required>
      <input type="submit" name="submit" value="Submit">
    </form>
  </section>

  <section id="delete account">
    <p>
      Delete your account
    </p>
    <form action="/api/user" method="post">
      <input type="hidden" name="delete" value="true">
      <input type="submit" name="submit" value="Delete">
    </form>
  </section>

</main>
{{> footer}}
