<header>
  <p>Please enter your username and password...</p>
</header>
<main>
  <div class="row">
    <form class="col s12" action="/api/login" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" name="username" required>
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</main>
{{> footer}}
