<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RCADS results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <p>Hello,</p>

    <p>
      The user {{user_name}} has asked the <a href="https://howamidoing.herokuapp.com">How Am I Doing?</a> app to share some RCADs results with you. Please find these results presented below.
    </p>

    <table>
      <tr>
        <th>
          Date Completed
        </th>
        <th>
          Categories
        </th>
      </tr>
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{categories}}
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          Question ID
        </th>
        <th>
          Question Text
        </th>
        <th>
          Answer
        </th>
      </tr>

      {{#each answers}}
        <tr>
          <td>
            {{this.id}}
          </td>
          <td>
            {{this.text}}
          </td>
          <td>
            {{this.answer}}
          </td>
        </tr>
      {{/each}}
    </table>

  </body>
</html>
