{{> header}}
<main>

  <form id="rcads-answers" class="container" action="/questionnaires/{{QUID}}/complete" method="post">

    <p>
      Please review your answers, then either save them, or click 'back' to change your answers.
    </p>

    <ul>
      {{#each answers}}
        <li>
          {{> answer this}}
        </li>
      {{/each}}
    </ul>

    <div class="center">
      <a href="/questionnaires/{{QUID}}/questions" class="btn">Back</a>
      <input type="submit" class="btn" name="submit" value="Save" />
    </div>

  </form>

</main>
{{> footer}}
