<header>
  <p>Please enter your details...</p>
</header>
<main>
  <div class="row">
    <form class="col s12" action="/api/signup" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" name="username" required>
          <label for="username">Username *</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Password *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirm_password" type="password" class="validate" name="confirm_password" required>
          <label for="confirm_password">Confirm Password *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="user_email" required>
          <label for="email">Email *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="clinic_email" required>
          <label for="email">Clinician's Email *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="number" type="number" class="validate" name="clinic_number">
          <label for="number">Clinician's Phone Number</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</main>
{{> footer}}
