// bar chart

.axis text {
  font: 1em $font-main;
  stroke: white;
}


.axis path ,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis.bar-axis path {
  display: none;
}

.dot, .bar {
  fill: steelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
