footer {
  background-color: $primary-light;

  .footer-img {
    padding: 0.5em;
  }

  .footer-copyright {
    padding: 0.5em;
  }

  .material-icons {
    font-size: 19px;
  }

  .row {
    margin-bottom: 0;
  }

}
