#logo-background {
  background-color: $primary-lighter;
  border-radius: 5px;
  display: inline-block;
  padding: 1em;
  margin-bottom: 2em;

  #logo {
    background-image: url('/img/how-logo-86x132.png');
    height: 132px;
    width: 86px;
  }
}

.splash-buttons {
  position: relative;
  top: 10em;
}

.login {
  position: relative;
  right: 1em;
}

.signup {
  position: relative;
  left: 1em;
}
