#splash {
  text-align: center;
}

#logo-background {
  background-color: $primary-lighter;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  #logo {
    background-image: url('/img/how-logo-86x132.png');
    height: 132px;
    width: 86px;
    display: inline-block;
    margin-top: 33px;
  }
}

.splash-buttons {
  margin-top: 3.5em;
}

.login {
  position: relative;
  right: 1em;
  top: 0vh;
}

.signup {
  position: relative;
  left: 1em;
  top: 0vh;
}
