#logo-background {
  background-color: $primary-lighter;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  #logo {
    background-image: url('/img/how-logo-86x132.png');
    height: 132px;
    width: 86px;
    display: inline-block;
    margin-top: 33px;
  }
}

.splash {
  .row {
    margin-bottom: 0;
    margin-top: 3em;
  }

  & h5 {
    font-size: 1.5em;
  }

  & a:not(.btn-large) {
    color: $primary-light;
  }
}
