input:focus:not([readonly]) {
  border-bottom: 1px solid $primary-lighter !important;
  box-shadow: 0 1px 0 0 $primary-lighter !important;

  & + label {
    color: $primary-lighter !important;
  }
}
